{% extends 'base.html.twig' %}

{% block title %}Rechercher{% endblock %}

{% block body %}
    <h1>Rechercher</h1>
    {{ form_start(form,{'attr': {'class': 'search'}}) }}
        {{ form_widget(form.search) }}
        <input type="submit" class="material-icons search-icon" value="search">
    {{ form_end(form) }}
{% endblock %}
